[submodule "external/bluepad32"]
	path = external/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "external/mpu6050"]
	path = external/mpu6050
	url = https://github.com/Abhinaya-UNY/esp_mpu6050.git
[submodule "components/STM32Portal/serialhub"]
	path = components/STM32Portal/serialhub
	url = git@github.com:Abhinaya-UNY/serial_hub.git
